
*.csv

*.html

*.class

.metadata/.lock

.metadata/.log

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.zip

*.version

*.index

*.resources

*.prefs

*.ini

*.xml

*.properties

*.log

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

.project

.classpath
/bin/

target/

